* {
  box-sizing: border-box;
  font-family: "AG Book Rounded", sans-serif;
}

body {
  margin: 0;
  background-color: #fdf7f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 85%;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf7f9;
}

.login-box {
  width: 50%;
}

h2 {
  color: #2b1b1b;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

input {
  border: none;
  background-color: #F2E8E8;
  height: 45px;
  width: 100%;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 14px;
  transition: all 0.3s ease;
}

input::placeholder {
  color: #994D59;
}

input:hover,
input:focus {
  background-color: #ece2e2;
  outline: none;
  box-shadow: 0 0 5px rgba(210, 0, 0, 0.3);
}

.btn {
  background-color: #DA291C;
  color: white;
  border: none;
  border-radius: 6px;
  height: 45px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.btn:hover {
  background-color: #b81d16;
  transform: scale(1.02);
}

.forgot {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #b71c1c;
  font-size: 13px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot:hover {
  color: #980c0c;
}

.logo {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .login-box, .logo {
    width: 100%;
    text-align: center;
  }

  .logo {
    margin-top: 30px;
  }
}

